{% extends 'main.html.twig' %}

{% block title %}{{'Team'|trans({}, 'Team')}}{% endblock %}

{% block mainContent %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{'Full name'|trans({}, 'Team')}}</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>{{'Short name'|trans({}, 'Team')}}</th>
                <td>{{ team.shortName }}</td>
            </tr>
            <tr>
                <th>{{'Club'|trans({}, 'Team')}}</th>
                <td>
                    <a
                        href="{{ path('club_single', {'club_id': team.club.id}) }}"
                    >
                        {{ team.club.name }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::LIST')) %}
        {{ include('team/_button/back.html.twig', {text: 'Go back to the list'}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::EDIT'), team) %}
        {{ include('team/_button/edit.html.twig', {clubId: team.club.id, teamId: team.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::DELETE'), team) %}
        {{ include('team/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
