{% extends 'main.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}

{% block main_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nazwa pełna</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Nazwa skrócona</th>
                <td>{{ team.shortName }}</td>
            </tr>
            <tr>
                <th>Klub</th>
                <td><a href="{{ path('club_single', {'club_id': team.club.id}) }}">{{ team.club.name }}</a></td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::LIST')) %}
        <a href="{{ path('teams_list') }}" class="btn btn-outline-secondary icon-cancel" title="Wróć do listy">Wróć do listy</a>
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::EDIT'), team) %}
        {{ include('buttons/edit.html.twig', {path: 'team_edit', parameters: {'club_id': team.club.id, 'team_id': team.id}}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::DELETE'), team) %}
        {{ include('team/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
