{% extends 'main.html.twig' %}

{% block title %}{{'Match games'|trans({}, 'MatchGame')}}{% endblock %}

{% block mainContent %}
    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::CREATE')) %}
        {{ include('match_game/_button/add.html.twig', {
            path: 'match_game_create',
            text: 'Add new',
        }) }}
    {% endif %}
    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::DELETE_BATCH')) %}
        {{ include('match_game/_delete_batch_form.html.twig') }}
    {% endif %}

    <div class="mb-3">
        <table class="dataTable table table-hover table-responsive" id="match-games-list">
            <thead>
                <tr>
                    <th>{{'Ord. num.'|trans({}, 'DataTable')}}</th>
                    <th><input type="checkbox" id="checkbox_matchGames_all" class="form-check-input"></th>
                    <th>{{'Date and time'|trans({}, 'MatchGame')}}</th>
                    <th>{{'Game type'|trans({}, 'MatchGame')}}</th>
                    <th>{{'Teams'|trans({}, 'MatchGame')}}</th>
                    <th>{{'Actions'|trans({}, 'DataTable')}}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>{{'Ord. num.'|trans({}, 'DataTable')}}</th>
                    <th></th>
                    <th class="s">{{'Date and time'|trans({}, 'MatchGame')}}</th>
                    <th class="s">{{'Game type'|trans({}, 'MatchGame')}}</th>
                    <th class="s">{{'Teams'|trans({}, 'MatchGame')}}</th>
                    <th>{{'Actions'|trans({}, 'DataTable')}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
