{% extends 'main.html.twig' %}

{% block title %}{{'Match game'|trans({}, 'MatchGame')}}{% endblock %}

{% block mainContent %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{'Home team'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.homeTeam %}
                        {{matchGame.homeTeam.name}}
                    {% else %}
                        <em class="text-black-50">{{'unknown'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Away team'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.awayTeam %}
                        {{matchGame.awayTeam.name}}
                    {% else %}
                        <em class="text-black-50">{{'unknown'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Game type'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.gameType %}
                        {{matchGame.gameType.name}}
                    {% else %}
                        <em class="text-black-50">{{'unknown'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Season'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGame.season }}</td>
            </tr>
            <tr>
                <th>{{'Round'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGame.round ? matchGame.round.value }}</td>
            </tr>
            <tr>
                <th>{{'Date'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGame.dateTime|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>{{'Time'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGame.dateTime|date('H:i') }}</td>
            </tr>
            <tr>
                <th>{{'Venue'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGame.venue }}</td>
            </tr>
            <tr>
                <th>{{'Referee'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.referee %}
                        {{matchGame.referee.fullName}}
                    {% else %}
                        <em class="text-black-50">{{'unknown'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Assistant referee 1'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.firstAssistantReferee %}
                        {{matchGame.firstAssistantReferee.fullName}}
                    {% else %}
                        <em class="text-black-50">{{'none'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                    {% if matchGame.isFirstAssistantNonProfitable is not null and matchGame.isFirstAssistantNonProfitable %}
                        ({{'non-profitable'|trans({}, 'MatchGame')}})
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Assistant referee 2'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.secondAssistantReferee %}
                        {{matchGame.secondAssistantReferee.fullName}}
                    {% else %}
                        <em class="text-black-50">{{'none'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                    {% if matchGame.isSecondAssistantNonProfitable is not null and matchGame.isSecondAssistantNonProfitable %}
                        ({{'non-profitable'|trans({}, 'MatchGame')}})
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Fourth official'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.fourthOfficial %}
                        {{matchGame.fourthOfficial.fullName}}
                    {% else %}
                        <em class="text-black-50">{{'unknown'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Referee observer'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.refereeObserver %}
                        {{matchGame.refereeObserver.fullName}}
                    {% else %}
                        <em class="text-black-50">{{'unknown'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Delegate'|trans({}, 'MatchGame')}}</th>
                <td>
                    {% if matchGame.delegate %}
                        {{matchGame.delegate.fullName}}
                    {% else %}
                        <em class="text-black-50">{{'unknown'|trans({}, 'MatchGame')}}</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'More info'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGame.moreInfo }}</td>
            </tr>
            <tr>
                <th>{{'Bills'|trans({}, 'MatchGame')}}</th>
                <td>
                    <table>
                        <tbody>
                            {% for matchGameBill in matchGame.matchGameBills %}
                                <tr>
                                    <td>
                                        {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::SHOW'), matchGameBill) %}
                                            <a href="{{ path('match_game_bill_single', {'match_game_id': matchGame.id, 'match_game_bill_id': matchGameBill.id}) }}">
                                        {% endif %}
                                        {{ matchGameBill.person.fullName }}
                                        {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::SHOW'), matchGameBill) %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::DELETE'), matchGameBill) %}
                                            {{ include('match_game_bill/_delete_form.html.twig') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::CREATE_BILL'), matchGame) %}
                                        {{ include('match_game_bill/_button/add.html.twig', {'matchGameId': matchGame.id}) }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::LIST')) %}
        {{ include('match_game/_button/back.html.twig', {text: 'Go back to the list'}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::EDIT'), matchGame) %}
        {{ include('match_game/_button/edit.html.twig', {matchGameId: matchGame.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::DELETE'), matchGame) %}
        {{ include('match_game/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
