{% extends 'main.html.twig' %}

{% block title %}Mecz {{ matchGame.competitors }}{% endblock %}

{% block main_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Gospodarze</th>
                <td>{{ matchGame.homeTeam ? matchGame.homeTeam.fullName : ('<em class="text-black-50">nieznany</em>')|raw }}</td>
            </tr>
            <tr>
                <th>Goście</th>
                <td>{{ matchGame.awayTeam ? matchGame.awayTeam.fullName : ('<em class="text-black-50">nieznany</em>')|raw }}</td>
            </tr>
            <tr>
                <th>Typ rozgrywek</th>
                <td>{{ matchGame.gameType ? matchGame.gameType.fullName : ('<em class="text-black-50">nieznany</em>')|raw }}</td>
            </tr>
            <tr>
                <th>Sezon</th>
                <td>{{ matchGame.season }}</td>
            </tr>
            <tr>
                <th>Kolejka</th>
                <td>{{ matchGame.round }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ matchGame.dateTime|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>Godzina</th>
                <td>{{ matchGame.dateTime|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Miejsce</th>
                <td>{{ matchGame.venue }}</td>
            </tr>
            <tr>
                <th>Sędzia</th>
                <td>{{ matchGame.referee ? matchGame.referee.fullName : ('<em class="text-black-50">nieznany</em>')|raw }}</td>
            </tr>
            <tr>
                <th>Asystent 1</th>
                <td>{{ matchGame.firstAssistantReferee ? matchGame.firstAssistantReferee.fullName : ('<em class="text-black-50">brak</em>')|raw }}{{ matchGame.isFirstAssistantNonProfitable ? ' (społecznie)' : '' }}</td>
            </tr>
            <tr>
                <th>Asystent 2</th>
                <td>{{ matchGame.secondAssistantReferee ? matchGame.secondAssistantReferee.fullName : ('<em class="text-black-50">brak</em>')|raw }}{{ matchGame.isSecondAssistantNonProfitable ? ' (społecznie)' : '' }}</td>
            </tr>
            <tr>
                <th>Sędzia techniczny</th>
                <td>{{ matchGame.fourthOfficial ? matchGame.fourthOfficial.fullName : ('<em class="text-black-50">brak</em>')|raw }}</td>
            </tr>
            <tr>
                <th>Obserwator</th>
                <td>{{ matchGame.refereeObserver ? matchGame.refereeObserver.fullName : ('<em class="text-black-50">brak</em>')|raw }}</td>
            </tr>
            <tr>
                <th>Delegat</th>
                <td>{{ matchGame.delegate ? matchGame.delegate.fullName : ('<em class="text-black-50">brak</em>')|raw }}</td>
            </tr>
            <tr>
                <th>Dodatkowe informacje</th>
                <td>{{ matchGame.moreInfo }}</td>
            </tr>
            <tr>
                <th>Rachunki</th>
                <td>
                    <table>
                        <tbody>
                            {% for matchGameBill in matchGame.matchGameBills %}
                                <tr>
                                    <td>
                                        {% if is_granted(constant('\\App\\Security\\Voter\\MatchGameBillVoter::SHOW'), matchGameBill) %}
                                            <a href="{{ path('match_game_bill_single', {'match_game_id': matchGame.id, 'match_game_bill_id': matchGameBill.id}) }}">
                                        {% endif %}
                                        {{ matchGameBill.person.fullName }}
                                        {% if is_granted(constant('\\App\\Security\\Voter\\MatchGameBillVoter::SHOW'), matchGameBill) %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if is_granted(constant('\\App\\Security\\Voter\\MatchGameBillVoter::DELETE'), matchGameBill) %}
                                            {{ include('match_game_bill/_delete_form.html.twig', {'matchGameBill': matchGameBill, btn_size: 'btn-sm'}) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    {% if is_granted(constant('\\App\\Security\\Voter\\MatchGameVoter::CREATE_BILL'), matchGame) %}
                                        {{ include('buttons/add.html.twig', {path: 'match_game_bill_create', parameters: {'match_game_id': matchGame.id}, text: 'Dodaj nowy', btn_size: 'btn-sm'}) }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\App\\Security\\Voter\\MatchGameVoter::LIST')) %}
        <a href="{{ path('match_games_front') }}" class="btn btn-outline-secondary icon-cancel" title="Wróć do listy">Wróć do listy</a>
    {% endif %}

    {% if is_granted(constant('\\App\\Security\\Voter\\MatchGameVoter::EDIT'), matchGame) %}
        {{ include('buttons/edit.html.twig', {path: 'match_game_edit', parameters: {'match_game_id': matchGame.id}}) }}
    {% endif %}

    {% if is_granted(constant('\\App\\Security\\Voter\\MatchGameVoter::DELETE'), matchGame) %}
        {{ include('match_game/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
