{{ form_start(form) }}
    {{ form_row(form.firstName, {'label': 'First name'}) }}
    {{ form_row(form.lastName, {'label': 'Last name'}) }}
    {{ form_label(form.mobilePhone, 'Phone number') }}
    <div class="input-group mb-3">
        <span class="input-group-text" id="dialling-country-code">+48</span>
        {{ form_widget(form.mobilePhone, {'attr': {'aria-described-by': 'dialling-country-code'}}) }}
        {{ form_errors(form.mobilePhone) }}
    </div>
    <fieldset class="border p-2 mb-3">
        <legend class="w-auto">{{'Functions'|trans({}, 'Person')}}</legend>
        {% for function in form.functions %}
            {{ form_row(function, {'label': function.vars.label|trans({}, 'Person')|ucfirst}) }}
        {% endfor %}
    </fieldset>
    {{ form_row(form.save, {
        'label': (buttonSaveLabel|default('Save')),
        'attr': {'class': 'btn-success icon-save loadable-save'},
    }) }}
    {{ form_row(form.saveAndContinue, {
        'label': (buttonSaveAndContinueLabel|default('Save and add new')),
        'attr': {'class': 'btn-success icon-save loadable-save'},
    }) }}
    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\PersonVoter::LIST')) %}
        {{ include('person/_button/back.html.twig') }}
    {% endif %}
{{ form_end(form) }}
