<div class="mb-3 row">
    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\PersonVoter::LIST')) %}
        <div class="col">
            <a class="btn btn-secondary d-block" href="{{ path('people_list') }}">
                {{'All'|trans({}, 'Person')}}
            </a>
        </div>
        <div class="col">
            <a
                class="btn btn-secondary d-block"
                href="{{ path('people_list_delegates') }}"
            >
                {{'Delegates'|trans({}, 'Person')}}
            </a>
        </div>
        <div class="col">
            <a
                class="btn btn-secondary d-block"
                href="{{ path('people_list_referees') }}"
            >
                {{'Referees'|trans({}, 'Person')}}
            </a>
        </div>
        <div class="col">
            <a
                class="btn btn-secondary d-block"
                href="{{ path('people_list_referee_observers') }}"
            >
                {{'Referee observers'|trans({}, 'Person')}}
            </a>
        </div>
    {% endif %}
</div>
