{% extends 'main.html.twig' %}

{% block title %}{{title|trans({}, 'Person')}}{% endblock %}

{% block main_content %}
    {{ include('person/_types_buttons.html.twig') }}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\PersonVoter::CREATE')) %}
        {{ include('person/_button/add.html.twig', {
            path: 'person_create',
            text: 'Add new',
        }) }}
    {% endif %}
    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\PersonVoter::DELETE_BATCH')) %}
        {{ include('person/_delete_batch_form.html.twig') }}
    {% endif %}

    <div class="mb-3">
        <table class="dataTable table table-hover table-responsive" id="{{ tableId }}-list">
            <thead>
                <tr>
                    <th>{{'Ord. num.'|trans({}, 'DataTable')}}</th>
                    <th><input type="checkbox" id="checkbox_people_all" class="form-check-input"></th>
                    <th>{{'Full name'|trans({}, 'Person')}}</th>
                    <th>{{'Actions'|trans({}, 'DataTable')}}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>{{'Ord. num.'|trans({}, 'DataTable')}}</th>
                    <th></th>
                    <th class="s">{{'Full name'|trans({}, 'Person')}}</th>
                    <th>{{'Actions'|trans({}, 'DataTable')}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
