{% extends 'main.html.twig' %}

{% block title %}{{'Person'|trans({}, 'Person')}}{% endblock %}

{% block main_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{'First name'|trans({}, 'Person')}}</th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>{{'Last name'|trans({}, 'Person')}}</th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>{{'Phone number'|trans({}, 'Person')}}</th>
                <td>
                    {% if person.mobilePhone %}
                        <a href="tel:{{ person.mobilePhone }}">{{ person.mobilePhone }}</a>
                    {% else %}
                        <em class="text-black-50">{{'none'|trans({}, 'Person')}}</em>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\PersonVoter::LIST')) %}
        {{ include('person/_button/back.html.twig', {text: 'Go back to the list'}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\PersonVoter::EDIT'), person) %}
        {{ include('person/_button/edit.html.twig', {personId: person.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\PersonVoter::DELETE'), person) %}
        {{ include('person/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
