{%- if wo_breadcrumbs()|length -%}
    <ol id="{{ listId }}" class="{{ listClass }}">
        {% for b in breadcrumbs %}
            <li class="{% if itemClass is defined and itemClass|length %}{{ itemClass }}{% endif %}{% if loop.last %} active{% endif %}">
                {% if b.url and not loop.last %}
                    <a href="{{ b.url }}"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>
                        {% endif %}
                            {% if b.translate is defined and b.translate == true %}{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}{% else %}{{- b.text -}}{% endif %}
                        {% if b.url and not loop.last %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{%- endif -%}
