{{ form_start(form) }}
    {{ form_row(form.baseEquivalent, {'label': 'Bazowy ekwiwalent brutto'}) }}
    {{ form_row(form.percentOfBaseEquivalent, {'label': 'Procent bazowego ekwiwalentu'}) }}
    {{ form_row(form.taxDeductibleStakePercent, {'label': 'Stawka procentowa kosztów uzyskania przychodu'}) }}
    {{ form_row(form.incomeTaxStakePercent, {'label': 'Stawka procentowa podatku dochodowego'}) }}
    {{ form_row(form.save, {'label': button_save_label|default('Zapisz'), 'attr': {'class': 'btn-success icon-save loadable-save'}}) }}
    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::LIST')) %}
        <a href="{{ path('match_games_list') }}" class="btn btn-outline-secondary icon-cancel" title="Wróć do listy">Anuluj</a>
    {% endif %}
{{ form_end(form) }}
