{% extends 'main.html.twig' %}

{% block title %}{{'Match game bill'|trans({}, 'MatchGame')}}{% endblock %}

{% block mainContent %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{'Match game'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGameBill.matchGame.competitors }}</td>
            </tr>
            <tr>
                <th>{{'Person'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGameBill.person.fullName }}</td>
            </tr>
            <tr>
                <th>{{'Function'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGameBill.function.getName()|trans({}, 'Person') }}</td>
            </tr>
            <tr>
                <th>{{'Gross base equivalent'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGameBill.baseEquivalent.amount }} zł</td>
            </tr>
            <tr>
                <th>{{'Percent of base equivalent'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGameBill.percentOfBaseEquivalent.value }}%</td>
            </tr>
            <tr>
                <th>{{'Gross equivalent'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGameBill.grossEquivalent.amount }} zł</td>
            </tr>
            <tr>
                <th>{{'Tax deductible expenses'|trans({}, 'MatchGame')}} ({{ matchGameBill.taxDeductibleStakePercent.value }}%)</th>
                <td>{{ matchGameBill.taxDeductibleExpenses.amount }} zł</td>
            </tr>
            <tr>
                <th>{{'Taxation base'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGameBill.taxationBase.amount }} zł</td>
            </tr>
            <tr>
                <th>{{'Income tax'|trans({}, 'MatchGame')}} ({{ matchGameBill.incomeTaxStakePercent.value }}%)</th>
                <td>{{ matchGameBill.incomeTax.amount }} zł</td>
            </tr>
            <tr>
                <th>{{'Equivalent to withdraw'|trans({}, 'MatchGame')}}</th>
                <td>{{ matchGameBill.equivalentToWithdraw.amount }} zł</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::SHOW'), matchGameBill.matchGame) %}
        {{ include('match_game_bill/_button/back.html.twig', {'matchGameId': matchGameBill.matchGame.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::EDIT'), matchGameBill) %}
        {{ include('match_game_bill/_button/edit.html.twig', {'matchGameId': matchGameBill.matchGame.id, 'matchGameBillId': matchGameBill.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::DOWNLOAD'), matchGameBill) %}
        {{ include('match_game_bill/_button/download_xlsx.html.twig', {'matchGameId': matchGameBill.matchGame.id, 'matchGameBillId': matchGameBill.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::DELETE'), matchGameBill) %}
        {{ include('match_game_bill/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
