{% extends 'main.html.twig' %}

{% block title %}Rachunek za mecz {{ matchGameBill.matchGame.competitors }}{% endblock %}

{% block main_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Osoba</th>
                <td>{{ matchGameBill.person.fullName }}</td>
            </tr>
            <tr>
                <th>Bazowy ekwiwalent brutto</th>
                <td>{{ matchGameBill.baseEquivalent.amount }} zł</td>
            </tr>
            <tr>
                <th>Należna część ekwiwalentu bazowego</th>
                <td>{{ matchGameBill.percentOfBaseEquivalent.value }}%</td>
            </tr>
            <tr>
                <th>Należny ekwiwalent brutto</th>
                <td>{{ matchGameBill.grossEquivalent.amount }} zł</td>
            </tr>
            <tr>
                <th>Koszty uzyskania przychodu ({{ matchGameBill.taxDeductibleStakePercent.value }}%)</th>
                <td>{{ matchGameBill.taxDeductibleExpenses.amount }} zł</td>
            </tr>
            <tr>
                <th>Podstawa opodatkowania</th>
                <td>{{ matchGameBill.taxationBase.amount }} zł</td>
            </tr>
            <tr>
                <th>Podatek dochodowy ({{ matchGameBill.incomeTaxStakePercent.value }}%)</th>
                <td>{{ matchGameBill.incomeTax.amount }} zł</td>
            </tr>
            <tr>
                <th>Ekwiwalent do wypłaty</th>
                <td>{{ matchGameBill.equivalentToWithdraw.amount }} zł</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameVoter::SHOW'), matchGameBill.matchGame) %}
        <a href="{{ path('match_game_single', {'match_game_id': matchGameBill.matchGame.id}) }}" class="btn btn-outline-secondary icon-cancel" title="Wróć do szczegółów meczu">Wróć do szczegółów meczu</a>
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::EDIT'), matchGameBill) %}
        {{ include('buttons/edit.html.twig', {path: 'match_game_bill_edit', parameters: {'match_game_id': matchGameBill.matchGame.id, 'match_game_bill_id': matchGameBill.id}}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::DOWNLOAD'), matchGameBill) %}
        {{ include('match_game_bill/_buttons/download_xlsx.html.twig', {path: 'match_game_bill_download', parameters: {'match_game_id': matchGameBill.matchGame.id, 'match_game_bill_id': matchGameBill.id}}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\MatchGameBillVoter::DELETE'), matchGameBill) %}
        {{ include('match_game_bill/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
