{{ form_start(form) }}
    {{ form_row(form.name, {'label': 'Nazwa'}) }}
    {{ form_row(form.emblem, {'label': 'Herb'}) }}

    {% if club is defined and club.emblem %}
        <div class="mb-3 image-container">
            <figure class="figure" style="max-width: 200px; max-height: 200px;">
                <img src="upload/{{club.emblem.filePath}}" class="img-fluid img-thumbnail" alt="Błąd ładowania zdjęcia" width="{{club.emblem.width}}" height="{{club.emblem.height}}">
                <figcaption class="figure-caption">
                    Aktualny herb.
                    <a href="{{ path('club_emblem_delete', {'club_id': club.id}) }}" class="delete-image text-danger">Usuń</a>
                </figcaption>
            </figure>
        </div>
    {% endif %}

    {{ form_row(form.save, {'label': button_save_label|default('Zapisz'), 'attr': {'class': 'btn-success icon-save loadable-save'}}) }}
    {{ form_row(form.saveAndContinue, {'label': button_save_and_continue_label|default('Zapisz i dodaj nowy'), 'attr': {'class': 'btn-success icon-save loadable-save'}}) }}
    {% if is_granted(constant('\\App\\Security\\Voter\\ClubVoter::LIST')) %}
        <a href="{{ path('clubs_list') }}" class="btn btn-outline-secondary icon-cancel" title="Wróć do listy">Anuluj</a>
    {% endif %}
{{ form_end(form) }}
