{% extends 'main.html.twig' %}

{% block title %}{{'Club'|trans({}, 'Club')}}{% endblock %}

{% block mainContent %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{'Name'|trans({}, 'Club')}}</th>
                <td>{{ club.name }}</td>
            </tr>
            <tr>
                <th>{{'Emblem'|trans({}, 'Club')}}</th>
                <td>
                    {% if club.emblem %}
                        <img
                            alt="{{'Error loading image'|trans({}, 'Club')}}"
                            class="img-fluid img-thumbnail"
                            height="{{club.emblem.height}}"
                            src="upload/{{club.emblem.filePath}}"
                            style="max-width: 200px; max-height: 200px;"
                            width="{{club.emblem.width}}"
                        >
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Teams'|trans({}, 'Club')}}</th>
                <td>
                    <table>
                        <tbody>
                            {% for team in club.teams %}
                                <tr>
                                    <td>
                                        {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::SHOW'), team) %}
                                            <a
                                                href="{{ path('team_single', {'club_id': club.id, 'team_id': team.id}) }}"
                                            >
                                        {% endif %}
                                            {{ team.name }}
                                        {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::SHOW'), team) %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::DELETE'), team) %}
                                            {{ include('team/_delete_form.html.twig', {
                                                'team': team,
                                                'show_club': true,
                                            }) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\TeamVoter::CREATE')) %}
                                        {{ include('club/_button/add.html.twig', {
                                            path: 'team_create',
                                            parameters: {'club_id': club.id},
                                            text: 'Add new team',
                                        }) }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\ClubVoter::LIST')) %}
        {{ include('club/_button/back.html.twig', {text: 'Go back to the list'}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\ClubVoter::EDIT'), club) %}
        {{ include('club/_button/edit.html.twig', {clubId: club.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\ClubVoter::DELETE'), club) %}
        {{ include('club/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
