{% extends 'main.html.twig' %}

{% block title %}{{ club.name }}{% endblock %}

{% block main_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nazwa</th>
                <td>{{ club.name }}</td>
            </tr>
            <tr>
                <th>Herb</th>
                <td>
                    {% if club.emblem %}
                        <img src="upload/{{club.emblem.filePath}}" class="img-fluid img-thumbnail" alt="Błąd ładowania zdjęcia" width="{{club.emblem.width}}" height="{{club.emblem.height}}" style="max-width: 200px; max-height: 200px;">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Drużyny</th>
                <td>
                    <table>
                        <tbody>
                            {% for team in club.teams %}
                                <tr>
                                    <td>
                                        {% if is_granted(constant('\\App\\Security\\Voter\\TeamVoter::SHOW'), team) %}
                                            <a href="{{ path('team_single', {'club_id': club.id, 'team_id': team.id}) }}">
                                        {% endif %}
                                        {{ team.fullName }}
                                        {% if is_granted(constant('\\App\\Security\\Voter\\TeamVoter::SHOW'), team) %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if is_granted(constant('\\App\\Security\\Voter\\TeamVoter::DELETE'), team) %}
                                            {{ include('team/_delete_form.html.twig', {'team': team, 'show_club': true, btn_size: 'btn-sm'}) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    {% if is_granted(constant('\\App\\Security\\Voter\\TeamVoter::CREATE')) %}
                                        {{ include('buttons/add.html.twig', {path: 'team_create', parameters: {'club_id': club.id}, text: 'Dodaj nową', btn_size: 'btn-sm'}) }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\App\\Security\\Voter\\ClubVoter::LIST')) %}
        <a href="{{ path('clubs_list') }}" class="btn btn-outline-secondary icon-cancel" title="Wróć do listy">Wróć do listy</a>
    {% endif %}

    {% if is_granted(constant('\\App\\Security\\Voter\\ClubVoter::EDIT'), club) %}
        {{ include('buttons/edit.html.twig', {path: 'club_edit', parameters: {'club_id': club.id}}) }}
    {% endif %}

    {% if is_granted(constant('\\App\\Security\\Voter\\ClubVoter::DELETE'), club) %}
        {{ include('club/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
