{{ form_start(form) }}
    {{ form_row(form.name, {'label': 'Nazwa'}) }}

    <div class="mb-3">
        {{ form_label(form.permissions, 'Uprawnienia') }}
        {{ form_widget(form.permissions, {'attr': {'class': 'checkboxes-in-choice'}}) }}
        {{ form_errors(form.permissions) }}
    </div>

    {{ form_row(form.save, {'label': button_save_label|default('Zapisz'), 'attr': {'class': 'btn-success icon-save loadable-save'}}) }}
    {{ form_row(form.saveAndContinue, {'label': button_save_and_continue_label|default('Zapisz i dodaj nowy'), 'attr': {'class': 'btn-success icon-save loadable-save'}}) }}
    {% if is_granted(constant('\\App\\Security\\Voter\\UserRoleVoter::LIST')) %}
        <a href="{{ path('user_roles_list') }}" class="btn btn-outline-secondary icon-cancel" title="Wróć do listy">Anuluj</a>
    {% endif %}
{{ form_end(form) }}
