{% extends 'main.html.twig' %}

{% block title %}{{'Game type'|trans({}, 'GameType')}}{% endblock %}

{% block mainContent %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{'Name'|trans({}, 'GameType')}}</th>
                <td>{{ gameType.name }}</td>
            </tr>
            <tr>
                <th>{{'Image'|trans({}, 'GameType')}}</th>
                <td>
                    {% if gameType.image %}
                        <img
                            alt="{{'Error loading image'|trans({}, 'GameType')}}"
                            class="img-fluid img-thumbnail"
                            height="{{gameType.image.height}}"
                            src="upload/{{gameType.image.filePath}}"
                            style="max-width: 200px; max-height: 200px;"
                            width="{{gameType.image.width}}"
                        >
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'Is official'|trans({}, 'GameType')}}</th>
                <td>{{ gameType.isOfficial ? 'Yes'|trans({}, 'GameType') : 'No'|trans({}, 'GameType') }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\GameTypeVoter::LIST')) %}
        {{ include('game_type/_button/back.html.twig', {text: 'Go back to the list'}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\GameTypeVoter::EDIT'), gameType) %}
        {{ include('game_type/_button/edit.html.twig', {gameTypeId: gameType.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\GameTypeVoter::DELETE'), gameType) %}
        {{ include('game_type/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
