{{ form_start(form) }}
    {{ form_row(form.username, {'label': 'Nazwa użytkownika'}) }}
    {{ form_row(form.plainPassword.first, {'label': 'Hasło'}) }}
    {{ form_row(form.plainPassword.second, {'label': 'Powtórz hasło'}) }}
    {{ form_row(form.save, {'label': button_save_label|default('Zapisz'), 'attr': {'class': 'btn-success icon-save loadable-save'}}) }}
    {{ form_row(form.saveAndContinue, {'label': button_save_and_continue_label|default('Zapisz i dodaj nowego'), 'attr': {'class': 'btn-success icon-save loadable-save'}}) }}
    {% if is_granted(constant('\\App\\Security\\Voter\\UserVoter::LIST')) %}
        <a href="{{ path('users_front') }}" class="btn btn-outline-secondary icon-cancel" title="Wróć do listy">Anuluj</a>
    {% endif %}
{{ form_end(form) }}
