{% extends 'main.html.twig' %}

{% block title %}{{'User'|trans({}, 'User')}}{% endblock %}

{% block mainContent %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{'Username'|trans({}, 'User')}}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{'Bound person'|trans({}, 'User')}}</th>
                <td>
                    {% if user.person %}
                        {{user.person.fullName}}
                    {% else %}
                        <em class="text-black-50">{{'none'|trans({}, 'User')}}</em>
                    {% endif %}
                    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\UserVoter::BIND_WITH_PERSON'), user) %}
                        {{ include('user/_button/bind_with_person.html.twig', {userId: user.id}) }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\UserVoter::LIST')) %}
        {{ include('user/_button/back.html.twig', {text: 'Go back to the list'}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\UserVoter::EDIT'), user) %}
        {{ include('user/_button/edit.html.twig', {userId: user.id}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\UserVoter::IMPERSONATE'), user) %}
        {{ include('user/_button/impersonate.html.twig', {userIdentifier: user.userIdentifier}) }}
    {% endif %}

    {% if is_granted(constant('\\Sudoku648\\Meczyki\\Security\\Infrastructure\\Voter\\UserVoter::DELETE'), user) %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
